body {
    text-align:center;
  background-color:rgba(227, 141, 235, 0.63);
  }
  h1 {
    font-size:50px;
    font-style:italic;
  color:rgb(31, 3, 3);
  }
  img {
    height:auto;
  width:auto;
  border-style:dotted;
  border-width:5px;
  padding:10px;
  }
  p {
    font-style:oblique;
  font-size:30px;
  color:rgb(139, 0, 127);
  }
  button{
    padding:10px;
  }